body {
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    background-color: black; 
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100vh;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 25px;
} 

.img-dogs {
    
    border: 2px solid #3882F6;
    width: 125px;
    height: 125px;
}

.img-logo {
    
    height: 100px;
    width: 100px;
}

.section-one,
.section-two, .section-three,
.section-four {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    background-color:#1F2937;
    color: #E5E7EB;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex: 0.5;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}


.section-one {
    background-color: #1F2937;
    flex-direction: column;
    padding: 32px;
}

.subsection-one {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 75px;
    gap: 24px;
}

.section-two {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 50px;
    gap: 16px;
}

.section-three {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
    padding: 100px;
}

.section-four {
    background-color: #3882F6;
    margin: 100px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 25px;
    border: none;
    border-radius: 8px;
}

.text {
    flex: 2;
    padding: 25px;
    gap: 8px;
}

.text-one {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.text-two {
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 25px;
    border: 1px solid white;
    margin-right: 50px;
}

.quote {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    margin-left: 300px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-left: 100px;
    padding-right: 100px;
}

.image-description {
    flex-wrap: wrap;
}

.image-header, .website-name {
    font-weight: bolder;
    color: #1F2937;
}

.image-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}

.website-info {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.logo, .website-name {
    color: white;
    font-weight: bold;
}

.website-name {
    font-size: 48px;
}

.links, .website-description {
    color: #E5E7EB;
}

button {
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: bold;
    padding: 8px 16px;
}

.h-button {
    color: #E5E7EB;
    background-color: #3882F6;
}

a {
    color: #E5E7EB;
    text-decoration: none;
  }

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 18px
    }

li {
    font-size: 18px;
}