body {
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
}

img {
    width: 200px;
    height: 200px;
}

.header, .section-one,
.section-two, .section-three,
.section-four {
    flex: 1;
}

.footer {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section-one {
    background-color: rgb(25, 47, 66);
    display: flex; 
    /*padding: 16px 300px;*/
}


.logo, .website-name {
    color: white;
    font-weight: bold;
}

.website-name {
    font-size: 32px;
}

.links, .website-description {
    color: rgb(144, 149, 153);
}

.website-description {
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
}

.h-button {
    color: black;
}

a {
    color: rgb(175, 172, 172);
    text-decoration: none;
  }

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 18px
  }

  li {
    font-size: 11px;
  }